<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

  <link rel="preload" href="https://cdn.jsdelivr.net/gh/riverzhou/riverzhou.github.io@main/assets/img/background.png" as="image" />
  <link rel="preload" href="https://cdn.jsdelivr.net/gh/riverzhou/riverzhou.github.io/assets/img/favicon.ico" as="image" onload="this.rel='shortcut icon'" />
  <link rel="preload" href="https://cdn.jsdelivr.net/gh/riverzhou/riverzhou.github.io/assets/main.min.css" as="style" onload="this.rel='stylesheet'" />
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/@riverzhou/prismjs/prism.min.css" as="style" onload="this.rel='stylesheet'" />
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" as="style" onload="this.rel='stylesheet'" />

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@riverzhou/prismjs/prism.min.js" charset="utf-8" async></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@riverzhou/socialicon/iconfont.min.js" charset="utf-8" async></script>

  <link rel="preload" href="https://cdn.jsdelivr.net/gh/riverzhou/riverzhou.github.io@main/assets/js/main.min.js" as="script" charset="utf-8" />
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/smooth-scroll@11.1.0/dist/js/smooth-scroll.min.js" as="script" charset="utf-8" />
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/valine/dist/Valine.min.js" as="script" charset="utf-8" />
  <link rel="preload" href="https://cdn.jsdelivr.net/gh/riverzhou/riverzhou.github.io@main/assets/js/pageContent.min.js" as="script" charset="utf-8" />

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

  {% if page.mathjax %}
  <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
        }
        "HTML-CSS": {
          linebreaks: {
            automatic: true,
            width: "container"
          }
        }
    });
  </script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mathjax@2/MathJax.js?config=TeX-AMS-MML_HTMLorMML" async></script>
  {% endif %}

  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?{{site.baidu_tongji_id}}";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</head>
